<h1>Новый заказ</h1>
<p>Номер на сайте - <%= @order.id%></p>
<p>Номер на в битриксе - <%= @order.bitrix_order_id%></p>
<p>Имя Фамилия: <%= @order.first_name %> <%= @order.second_name%></p>
<p>Номер телефона: <%= @order.phone %></p>
<%- if @order.delivery_region == "true" %>
	<p>Адрес: Московская область, г. <%= @order.city %>, ул. <%= @order.street %>, д. <%= @order.house_number%>, кв. <%= @order.flat_number%> </p>
<%- else %>
	<p>Адрес: Москва, ул. <%= @order.street %>, д. <%= @order.house_number %>, кв. <%= @order.flat_number %> </p>
<%- end %>
<p>Дополнительная информация по адресу: <%= @order.additional_address %>
<p>Комментарий к заказу: <%= @order.comment %>
<hr>
<h2>Состав заказа:</h2>
<p>Тип ужина: <%= Menu.find(@order.menu_id).category.name %></p>
<p>Стоимость ужина: <%= @order.order_price %>
<p>Кол-во ужинов: <%= @order.menu_amount %></p>
<p>Кол-во персон: <%= @order.person_amount %></p>
<p>время доставки: <%= @order.delivery_timeframe %></p>

<p><%- if @order.add_dessert %>
	десерт: да
<%- else %>
	десерт: нет
<%- end %>
</p>
<p>
<%- if @order.cloudpayment %>
	Оплата была произведена онлайн!
<%- else %>
	Оплата наличными курьеру
<%- end %>
</p>