.container
	.row
		.col-xs-12.col-lg-12.col-lg-offset-0
			.row.product-item
				.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0.text-center
					.owl-carousel{"data-lightbox" => "gallery"}
						-@menu.recipes.each do |recipe|
							=link_to recipe.pictures.first.image.url, data: {lightbox: "image", caption: "Some Title"} do
								=image_tag recipe.pictures.first.image.url
					.isotope.masonry-gallery.row{"data-isotope-group" => "gallery", "data-isotope-layout" => "masonry", "data-lightbox" => "gallery"}
						-@menu.recipes.each do |recipe|
							.thumbnail-gallery.isotope-item.col-xs-12.col-sm-6.col-md-6{"data-filter" => "type-1"}
								=link_to recipe.pictures.first.image.url, data: {lightbox: "image"} do
									=image_tag recipe.pictures.first.image.url(:mini_thumb)
									.caption
										.caption-wrapper
											%span.icon.icon-md.icon-white.fa-search-plus
											%h4.text-white
												=recipe.name
											%p.text-white
												=recipe.description
				=form_tag new_order_path(menu_id: params[:menu_id], person_amount: params[:person_amount], dinner_amount: params[:dinner_amount], change: params[:change], add_dessert: params[:add_dessert]), method: 'get' do
					.col-xs-12.col-md-6.text-center.uzhin-doma-form
						%h4 
							Набор
							=@menu.category.name
							=@menu.daterange
							=hidden_field_tag :menu_id, @menu.id
						.row
							%h6 Сколько ужинов?
							.row
								.payment-wrap.text-center.uzhin_rb_menus
									.col-md-4
										.payment
											.radio
												%label
													=radio_button_tag :menu_amount, 3
													%span.radio-field
													%span.h6.text-success Три
									.col-md-4
										.payment
											.radio.inline-block
												%label
													=radio_button_tag :menu_amount, 4
													%span.radio-field
													%span.h6.text-success Четыре
									.col-md-4
										.payment
											.radio.inline-block
												%label
													=radio_button_tag :menu_amount, 5, checked: true
													%span.radio-field
													%span.h6.text-success Все пять!

						.row
							%h6 Количество персон
							.row
								.payment-wrap.uzhin_rb_persons
									.col-md-6
										.payment.text-right
											.radio
												%label
													=radio_button_tag :person_amount, 2, checked: true
													%span.radio-field
													%span.h6.text-success Две
									.col-md-6
										.payment.text-left
											.radio.inline-block
												%label
													=radio_button_tag :person_amount, 4
													%span.radio-field
													%span.h6.text-success Четыре

						.row
							%h6
								="Заменить #{@menu.change_from} на #{@menu.change_to}?"
							.row
								.payment-wrap.text-center
									.col-md-6
										.payment.text-right
											.radio
												%label
													=radio_button_tag :change, true
													%span.radio-field
													%span.h6.text-success Да
									.col-md-6
										.payment.text-left
											.radio.inline-block
												%label
													=radio_button_tag :change, false, checked: true
													%span.radio-field
													%span.h6.text-success Нет
						.row
							%h6 Добавить десерт?
							.row
								.payment-wrap.text-center.uzhin_rb_dessert
									.col-md-6
										.payment.text-right
											.radio
												%label
													=radio_button_tag :add_dessert, @dessert_price
													%span.radio-field
													%span.h6.text-success Да
									.col-md-6
										.payment.text-left
											.radio.inline-block
												%label
													=radio_button_tag :add_dessert, 0, checked: true
													%span.radio-field
													%span.h6.text-success Нет
											
						.price-container
							%span.text-gray Стоимость:
							
							%span.h4#uzhin_price
								=render 'front/menus/show_price'
							%i.fa-rub
						=button_tag(type: "submit", class: "btn btn-success btn-sm") do
							%span.icon.icon-xs.fa-shopping-cart
							Заказать набор
							
						.blog-post.offset-5
							.badge
								%span Поделиться:
								%ul.list-inline
									%li
										%a.fa-facebook{:href => "#"}
									%li
										%a.fa-instagram{:href => "#"}
									%li
										%a.fa-vk{:href => "#"}

							.row.offset-4
								.col-xs-12
									%h4 Блюда данного меню
									.resp-tabs-container
										
										.text-left.fadeIn.animated
											.table-responsive
												%table.table.table-hover.text-left
													%tbody
														-@menu.recipes.each_with_index do |recipe, index|
															%tr
																%td.text-gray
																	="#{index+1}. #{recipe.name}"
																%td
																	="К/Б/Ж - #{recipe.calories}/#{recipe.carbohydrates}/#{recipe.fat}"
										.text-sm-left.fadeIn.animated
											%p.mt15
												=@menu.description