%section.g-section.m-section.m-section_top-bg
  .g-wrapper


%section.g-section.m-section_top-controls
  .g-wrapper.g-menu-block{"data-show" => @current_menus.first.id}
    %h2.g-title
      %span.g-title__text Новое меню
    .g-menu-toggle.g-menu-toggle_blue

      -@current_menus.each_with_index do |current_menu, index|

        / ПЕРЕКЛЮЧАТЕЛЬ МЕЖДУ НАЗВАНИЯМИ НАБОРОВ 
        %a{"data-var" => current_menu.id, :href => "javascript:void(0)", class: "g-menu-toggle__var js-main-menu #{'g-menu-toggle__var_active' if index == 0}"}
          %span.g-menu-toggle__var-text=current_menu.category.name
    
    #menu-items.m-menu-items
      -@current_menus.each_with_index do |current_menu, index|


        / ОДНО МЕНЮ
        / тут нужен перечень дней для конкретного меню (current_menu.days.order(:sortable))
        .m-menu-items__list{"data-price-changes" => get_price_matrix(current_menu), "data-date" => get_delivery_date(current_menu).html_safe, "data-hasdessert" => current_menu.has_dessert.to_s, "data-hasbreakfast" => current_menu.has_breakfast.to_s, "data-type" => current_menu.id, "data-price" => current_menu.price, "data-breakfast" => add_breakfast_text(current_menu.category.name)}

          / -current_menu.recipes.each_with_index do |recipe, rec_index|
          -current_menu.menurecipes.sort_by{|item| item.sortable}.each_with_index do |menu_recipe, rec_index|
            -recipe = Recipe.includes(:pictures).where(id: menu_recipe.recipe_id)[0]
            / ОДНО БЛЮДО
            %a.m-menu-items__item{"data-lightbox" => "menu_#{index+1}", "data-package" => rec_index+1, "data-product" => "eat", "data-title" => recipe.name, :href => recipe.pictures.first.image.url}
              .m-menu-items__img-wrapper
                %img.m-menu-items__img{:src => recipe.pictures.first.image.url, :srcset => "#{recipe.pictures.first.image.url} 1x, #{recipe.pictures.first.image.medium_thumb.url} 2x"}/
              %p.m-menu-items__description
                =recipe.name

          / DESSERT START
          -if current_menu.has_dessert && !@dessert.nil?
            -if !@dessert.hotpic.blank?
              %a.m-menu-items__item{"data-lightbox" => "menu_#{index+1}", "data-price" => @dessert.price, "data-product" => "dessert", "data-title" => @dessert.recipes.first.name, :href => @dessert.hotpic.url}
                .m-menu-items__img-wrapper
                  %img.m-menu-items__img{:src => @dessert.hotpic.url, :srcset => "#{@dessert.hotpic.url} 1x, #{@dessert.hotpic.medium_thumb.url} 2x"}/
                %p.m-menu-items__description
                  =@dessert.recipes.first.name
            -else
              %a.m-menu-items__item{"data-lightbox" => "menu_#{index+1}", "data-price" => @dessert.price, "data-product" => "dessert", "data-title" => @dessert.recipes.first.description, :href => @dessert.recipes.first.pictures.first.image.url}
                .m-menu-items__img-wrapper
                  %img.m-menu-items__img{:src => @dessert.recipes.first.pictures.first.image.url, :srcset => "#{@dessert.recipes.first.pictures.first.image.url} 1x, #{@dessert.recipes.first.pictures.first.image.medium_thumb.url} 2x"}/
                %p.m-menu-items__description
                  =@dessert.recipes.first.name
          / DESSERT END
    
    / Форма для НЕЗАЛОГИНИНОГО ПОЛЬЗОВАТЕЛЯ
    -if not user_signed_in?
      =form_tag process_order_path, method: :get, class: "m-menu-form g-form", id: "menu-form", remote: true do
        %fieldset.m-menu-form__fieldset.m-menu-form__fieldset_type
          %input#menu-id.m-menu-form__type{:name => "type", :type => "text"}/
        
        / КОЛИЧЕСТВО УЖИНОВ
        %h3.m-menu-form__field-desc Сколько блюд?
        %fieldset#dinner_counts.m-menu-form__fieldset


        / КОЛЧИЧЕСТВО ПЕРСОН
        %h3.m-menu-form__field-desc На сколько персон?
        %fieldset#persons_count.m-menu-form__fieldset


        / ДОБАВИТЬ ДЕСЕРТ?
        %fieldset.m-menu-form__fieldset#has-dessert

        / ДОБАВИТЬ ЗАВТРАК?
        %fieldset.m-menu-form__fieldset#has-breakfast

        / Комментарий к завтраку
        %h3.m-menu-form__field-desc#add-breakfast
        
        / НОМЕР ТЕЛЕФОНА
        %fieldset.m-menu-form__fieldset
          %input#phone-input.g-input.m-menu-form__input{:name => "phone", :placeholder => "Ваш номер телефона", :type => "tel"}/

          / =telephone_field_tag "phone", placeholder: "Ваш номер телефона", class: "g-input m-menu-form__input", id: "#phone-input"
        .m-menu-form__result
          %span.m-menu-form__result-desc Доставка
          %span.m-menu-form__result-val#date 21.02.2017
        .m-menu-form__result
          %span.m-menu-form__result-desc Сумма к оплате
          %span#total_price.m-menu-form__result-val.m-menu-form__result-val_price.g-rub
        =submit_tag "Заказать набор", class: "g-btn g-btn_blue m-menu-form__submit"
    -else
      =form_tag new_order_path, method: 'get', class: "m-menu-form g-form", id: "menu-form-logged-in" do

        %fieldset.m-menu-form__fieldset.m-menu-form__fieldset_type
          %input#menu-id.m-menu-form__type{:name => "type", :type => "text"}/
        
        / КОЛИЧЕСТВО УЖИНОВ
        %h3.m-menu-form__field-desc Сколько блюд?
        %fieldset#dinner_counts.m-menu-form__fieldset


        / КОЛЧИЧЕСТВО ПЕРСОН
        %h3.m-menu-form__field-desc На сколько персон?
        %fieldset#persons_count.m-menu-form__fieldset

        / ДОБАВИТЬ ДЕСЕРТ?
        %fieldset.m-menu-form__fieldset#has-dessert

        / ДОБАВИТЬ ЗАВТРАК?
        %fieldset.m-menu-form__fieldset#has-breakfast

        / Комментарий к завтраку
        %h3.m-menu-form__field-desc#add-breakfast
        
        .m-menu-form__result
          %span.m-menu-form__result-desc Доставка
          %span.m-menu-form__result-val#date 21.02.2017
        .m-menu-form__result
          %span.m-menu-form__result-desc Сумма к оплате
          %span#total_price.m-menu-form__result-val.m-menu-form__result-val_price.g-rub
        =submit_tag "Заказать набор", class: "g-btn g-btn_blue m-menu-form__submit"

#sales-new.g-popup-wrapper
  .g-popup.g-info-block.g-info-block_popup
    %a.g-popup__close{:href => "javascript:void(0)"}
    %img.g-info-block__img{:src => "img/sale.png"}/
    .g-info-block__text
      %h2.g-info-block__title Первый раз?
      %p.g-info-block__subtitle
        Получите скидку 500 руб.
        %br/
        на первый заказ
      %form.g-form.g-info-block__form
        %p.g-info-block__form-text
          Скидка действует на любой вид набора.
          %br/
          Просто введите свой номер телефона
          %br/
          и мы запишем ваш заказ
        %fieldset.g-fieldset
          %input.g-input{:name => "phone", :type => "tel"}/
        %fieldset.g-fieldset
          %input.g-btn.g-btn_blue{:type => "submit", :value => "Хочу скидку!"}/
          %a.g-popup__close.g-popup__close_text{:href => "javascript:void(0)"} Нет, спасибо
