%section.g-section.m-section.m-section_top-bg
  .g-wrapper


%section.g-section.m-section_top-controls
  .g-wrapper.g-menu-block{"data-show" => "1"}
    %h2.g-title
      %span.g-title__text Новое меню
    .g-menu-toggle.g-menu-toggle_blue

      -@current_menus.each_with_index do |current_menu, index|

        / ПЕРЕКЛЮЧАТЕЛЬ МЕЖДУ НАЗВАНИЯМИ НАБОРОВ 
        %a{"data-var" => index+1, :href => "javascript:void(0)", class: "g-menu-toggle__var js-main-menu #{'g-menu-toggle__var_active' if index == 0}"}
          %span.g-menu-toggle__var-text=current_menu.category.name
    
    #menu-items.m-menu-items
      -@current_menus.each_with_index do |current_menu, index|


        / ОДНО МЕНЮ
        / тут нужен перечень дней для конкретного меню (current_menu.days.order(:sortable))
        .m-menu-items__list{"data-price-changes" => get_price_matrix(current_menu), "data-date" => "20.04.2017", "data-hasdessert" => current_menu.has_dessert.to_s, "data-type" => index+1, "data-menu-id" => current_menu.id, "data-price" => current_menu.price}

          -current_menu.recipes.each_with_index do |recipe, rec_index|
              
            / ОДНО БЛЮДО
            %a.m-menu-items__item{"data-lightbox" => "menu_#{index+1}", "data-package" => rec_index+1, "data-product" => "eat", "data-title" => recipe.description, :href => recipe.pictures.first.image.url}
              .m-menu-items__img-wrapper
                %img.m-menu-items__img{:src => recipe.pictures.first.image.url, :srcset => "#{recipe.pictures.first.image.url} 1x, #{recipe.pictures.first.image.medium_thumb.url} 2x"}/
              %p.m-menu-items__description
                =recipe.description

          / DESSERT START
          -if current_menu.has_dessert && !@dessert.nil?
            -if !@dessert.hotpic.blank?
              %a.m-menu-items__item{"data-lightbox" => "menu_#{index+1}", "data-price" => @dessert.price, "data-product" => "dessert", "data-title" => @dessert.recipes.first.description, :href => @dessert.hotpic.url}
                .m-menu-items__img-wrapper
                  %img.m-menu-items__img{:src => @dessert.hotpic.url, :srcset => "#{@dessert.hotpic.url} 1x, #{@dessert.hotpic.medium_thumb.url} 2x"}/
                %p.m-menu-items__description
                  =@dessert.recipes.first.description
            -else
              %a.m-menu-items__item{"data-lightbox" => "menu_#{index+1}", "data-price" => @dessert.price, "data-product" => "dessert", "data-title" => @dessert.recipes.first.description, :href => @dessert.recipes.first.pictures.first.image.url}
                .m-menu-items__img-wrapper
                  %img.m-menu-items__img{:src => @dessert.recipes.first.pictures.first.image.url, :srcset => "#{@dessert.recipes.first.pictures.first.image.url} 1x, #{@dessert.recipes.first.pictures.first.image.medium_thumb.url} 2x"}/
                %p.m-menu-items__description
                  =@dessert.recipes.first.description
          / DESSERT END
    
    / Форма для НЕЗАЛОГИНИНОГО ПОЛЬЗОВАТЕЛЯ
    -if not user_signed_in?
      =form_tag process_order_path, method: :get, class: "m-menu-form g-form", id: "menu-form", remote: true do
        %fieldset.m-menu-form__fieldset.m-menu-form__fieldset_type
          %input.m-menu-form__type{:name => "type", :type => "radio", :val => "1"}/
          %input.m-menu-form__type{:name => "type", :type => "radio", :val => "2"}/
        
        / КОЛИЧЕСТВО УЖИНОВ
        %h3.m-menu-form__field-desc Сколько ужинов?
        %fieldset#dinner_counts.m-menu-form__fieldset


        / КОЛЧИЧЕСТВО ПЕРСОН
        %h3.m-menu-form__field-desc На сколько персон?
        %fieldset#persons_count.m-menu-form__fieldset

        / ДОБАВИТЬ ДЕСЕРТ?
        %fieldset.m-menu-form__fieldset#has-dessert
        
        / НОМЕР ТЕЛЕФОНА
        %fieldset.m-menu-form__fieldset
          %input#phone-input.g-input.m-menu-form__input{:name => "phone", :placeholder => "Ваш номер телефона", :type => "tel"}/

          / =telephone_field_tag "phone", placeholder: "Ваш номер телефона", class: "g-input m-menu-form__input", id: "#phone-input"
        .m-menu-form__result
          %span.m-menu-form__result-desc Доставка
          %span.m-menu-form__result-val#date 21.02.2017
        .m-menu-form__result
          %span.m-menu-form__result-desc Сумма к оплате
          %span#total_price.m-menu-form__result-val.m-menu-form__result-val_price.g-rub
        =submit_tag "Заказать набор", class: "g-btn g-btn_blue m-menu-form__submit"
    -else
      =form_tag new_order_path, method: 'get', class: "m-menu-form g-form", id: "menu-form-logged-in" do

        %fieldset.m-menu-form__fieldset.m-menu-form__fieldset_type
          %input.m-menu-form__type#menu-id{name: "type"}
        
        / КОЛИЧЕСТВО УЖИНОВ
        %h3.m-menu-form__field-desc Сколько ужинов?
        %fieldset#dinner_counts.m-menu-form__fieldset


        / КОЛЧИЧЕСТВО ПЕРСОН
        %h3.m-menu-form__field-desc На сколько персон?
        %fieldset#persons_count.m-menu-form__fieldset

        / ДОБАВИТЬ ДЕСЕРТ?
        %fieldset.m-menu-form__fieldset#has-dessert
        
        .m-menu-form__result
          %span.m-menu-form__result-desc Доставка
          %span.m-menu-form__result-val#date 21.02.2017
        .m-menu-form__result
          %span.m-menu-form__result-desc Сумма к оплате
          %span#total_price.m-menu-form__result-val.m-menu-form__result-val_price.g-rub
        =submit_tag "Заказать набор", class: "g-btn g-btn_blue m-menu-form__submit"