%section.g-section.m-section.m-section_top-bg
  .g-wrapper


%section.g-section.m-section_top-controls
  .g-wrapper.g-menu-block{"data-show" => "1"}
    %h2.g-title
      %span.g-title__text Новое меню
    .g-menu-toggle.g-menu-toggle_blue

      -@current_menus.each_with_index do |current_menu, index|
        / =link_to "/something", class: "g-menu-toggle__var js-main-menu #{'g-menu-toggle__var_active' if index == 0}", data: { var: index + 1} do
        /   %span.g-menu-toggle__var-text=current_menu.category.name
        %a{"data-var" => index+1, :href => "javascript:void(0)", class: "g-menu-toggle__var js-main-menu #{'g-menu-toggle__var_active' if index == 0}"}
          %span.g-menu-toggle__var-text=current_menu.category.name
    #menu-items.m-menu-items
      -@current_menus.each_with_index do |current_menu, index|
        .m-menu-items__list{"data-type" => index+1}
          -current_menu.recipes.each_with_index do |recipe, rec_index|
            %a.m-menu-items__item{"data-lightbox" => "menu_#{index+1}", "data-package" => rec_index+1, "data-price" => "300", "data-product" => "eat", "data-title" => recipe.description, :href => recipe.pictures.first.image.url}
              .m-menu-items__img-wrapper
                %img.m-menu-items__img{:src => recipe.pictures.first.image.url, :srcset => "#{recipe.pictures.first.image.url} 1x, #{recipe.pictures.first.image.medium_thumb.url} 2x"}/
              %p.m-menu-items__description
                =recipe.description
          -if current_menu.has_dessert && !@dessert.nil?
            -if !@dessert.hotpic.blank?
              %a.m-menu-items__item{"data-lightbox" => "menu_#{index+1}", "data-price" => "300", "data-product" => "dessert", "data-title" => @dessert.recipes.first.description, :href => @dessert.hotpic.url}
                .m-menu-items__img-wrapper
                  %img.m-menu-items__img{:src => @dessert.hotpic.url, :srcset => "#{@dessert.hotpic.url} 1x, #{@dessert.hotpic.medium_thumb.url} 2x"}/
                %p.m-menu-items__description
                  =@dessert.recipes.first.description
            -else
              %a.m-menu-items__item{"data-lightbox" => "menu_#{index+1}", "data-price" => "300", "data-product" => "dessert", "data-title" => @dessert.recipes.first.description, :href => @dessert.recipes.first.pictures.first.image.url}
                .m-menu-items__img-wrapper
                  %img.m-menu-items__img{:src => @dessert.recipes.first.pictures.first.image.url, :srcset => "#{@dessert.recipes.first.pictures.first.image.url} 1x, #{@dessert.recipes.first.pictures.first.image.medium_thumb.url} 2x"}/
                %p.m-menu-items__description
                  =@dessert.recipes.first.description

    =form_tag process_order_path, method: :get, class: "m-menu-form g-form", id: "menu-form", remote: true do
      %fieldset.m-menu-form__fieldset.m-menu-form__fieldset_type
        %input.m-menu-form__type{:name => "type", :type => "radio", :val => "standart"}/
        %input.m-menu-form__type{:name => "type", :type => "radio", :val => "lite"}/
      
      / КОЛИЧЕСТВО УЖИНОВ
      %fieldset.m-menu-form__fieldset
        %h3.m-menu-form__field-desc Сколько ужинов?

        / -current_menu.days.order(:sortable).each_with_index do |d_amount, d_index|
        /   %input{id: "quantity_#{d_index}", class: 'js-menu-input m-menu-form__hide',:name => "menu_amount_#{index}", :type => "Radio", value: [d_amount.value, d_amount.pricechange, d_amount.pricechange_four] }/
        /   %label{id: "radio1-da-#{d_index}-#{index}", :for => "radio1-da-#{d_index}-#{index}"}
        /     =d_amount.wordvalue



        %input#quantity_5.js-menu-input.m-menu-form__hide{:name => "quantity", :type => "radio", :value => "5"}/
        / =radio_button_tag 'quantity', value: 5, id: "quantity_5", class: "js-menu-input m-menu-form__hide"
        %label.m-menu-form__radio{:for => "quantity_5"} Все пять

        %input#quantity_4.js-menu-input.m-menu-form__hide{:name => "quantity", :type => "radio", :value => "4"}/
        %label.m-menu-form__radio{:for => "quantity_4"} Четыре
        %input#quantity_3.js-menu-input.m-menu-form__hide{:checked => "checked", :name => "quantity", :type => "radio", :value => "3"}/
        %label.m-menu-form__radio{:for => "quantity_3"} Три
        %input#quantity_3.js-menu-input.m-menu-form__hide{:checked => "checked", :name => "quantity", :type => "radio", :value => "3"}/
        %label.m-menu-form__radio{:for => "quantity_3"} Десять

      / КОЛЧИЧЕСТВО ПЕРСОН
      %fieldset.m-menu-form__fieldset
        %h3.m-menu-form__field-desc На сколько персон?
        %input#people_2.js-menu-input.m-menu-form__hide{:checked => "checked", :name => "people", :type => "radio", :value => "2"}/
        %label.m-menu-form__radio{:for => "people_2"} Две
        %input#people_4.js-menu-input.m-menu-form__hide{:name => "people", :type => "radio", :value => "4"}/
        %label.m-menu-form__radio{:for => "people_4"} Четыре
      %fieldset.m-menu-form__fieldset
        %input#dessert.js-menu-input.g-checkbox.m-menu-form__hide{:name => "dessert", :type => "checkbox"}/
        %label.g-checkbox-label.m-menu-form__checkbox{:for => "dessert"} Добавить десерт
      %fieldset.m-menu-form__fieldset
        %input#phone-input.g-input.m-menu-form__input{:name => "phone", :placeholder => "Ваш номер телефона", :type => "tel"}/

        / =telephone_field_tag "phone", placeholder: "Ваш номер телефона", class: "g-input m-menu-form__input", id: "#phone-input"
      .m-menu-form__result
        %span.m-menu-form__result-desc Доставка
        %span.m-menu-form__result-val 21.02.2017
      .m-menu-form__result
        %span.m-menu-form__result-desc Сумма к оплате
        %span#total_price.m-menu-form__result-val.m-menu-form__result-val_price.g-rub
      =submit_tag "Заказать набор", class: "g-btn g-btn_blue m-menu-form__submit"