.tray.tray-center
  =render 'admin/navigation/flash'
  
  .panel
    .panel-menu.p12.admin-form.theme-primary
      .row
        .col-sm-12.text-right
          .pull-right
            =link_to "Создать новую запись", send("new_admin_#{local_assigns[:namespace]}#{object_name(object)}_path"), class: "btn btn-w-m btn-primary", id: "new_entry"
    .panel-body.pn
      .table-responsive
        %table.table.admin-form.theme-warning.tc-checkbox-1.fs13
          %thead
            %tr.bg-light
              -if object.has_attribute?(:title)
                %th.text-left Заголовок
              -if object.has_attribute?(:body)
                %th Текст
              -if object.has_attribute?(:description)
                %th Описание
              -if object.has_attribute?(:email)
                %th.text-left Email
              -if object.has_attribute?(:post_referer)
                %th.text-left С какого поста пришел
              -if object.has_attribute?(:created_at)
                %th.text-left Дата создания  
              %th.text-right Статус
          %tbody
            -object.each do |obj|
              %tr
                -if obj.respond_to?(:title)
                  %td.text-left
                    =link_to obj.title, send("edit_admin_#{local_assigns[:namespace]}#{object_name(object)}_path", obj)
                -if obj.has_attribute?(:body)
                  %td
                    =truncate(obj.body, length: 50)
                -if obj.has_attribute?(:description)
                  %td
                    =truncate(obj.description, length: 50)
                -if obj.has_attribute?(:email)
                  %td.text-left
                    =obj.email
                -if obj.has_attribute?(:post_referer)
                  %td
                    =obj.post_referer
                -if obj.has_attribute?(:created_at)
                  %td
                    =obj.created_at.strftime("%d.%m.%Y - %H:%M")
                %td.text-right
                  .btn-group.text-right
                    %button.btn.btn-success.br2.btn-xs.fs12.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                      Действия
                      %span.caret.ml5
                    %ul.dropdown-menu{:role => "menu"}
                      %li
                        =link_to 'Редактировать', send("edit_admin_#{local_assigns[:namespace]}#{object_name(object)}_path", obj)
                      %li.divider
                      %li
                        =link_to 'Удалить', send("admin_#{local_assigns[:namespace]}#{object_name(object)}_path", obj), method: 'delete', data: {confirm: 'Действительно удалить?'}
            