!!!

%html
%head
  %title Uzhindoma - Front
  = stylesheet_link_tag    'front', media: 'all', 'data-turbolinks-track' => false
  = stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.css", :rel => "stylesheet"
  = csrf_meta_tags

%body
  .page.text-center
    -if request.fullpath == '/'
      %header.page-head.undefined
        =render 'front/navigation/header'
        =render 'front/navigation/sub_header' 
    -else
      %header.page-head.bg-services
        =render 'front/navigation/header'
        =render 'front/navigation/sub_header' 
    %main.page-content
      =yield
    =render 'front/navigation/footer'

= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.js"
= javascript_include_tag 'front', 'data-turbolinks-track' => false

