!!!

%html
%head
  %title Uzhindoma - Front
  = stylesheet_link_tag    'front', media: 'all'
  = stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.css", :rel => "stylesheet"
  = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700", :rel => "stylesheet"
  = csrf_meta_tags

%body{class: "#{controller_name} #{action_name} g-body"}
  .g-content
    =render 'front/navigation/header'
    / Rendering errors
    %section
      -flash.each do |name, msg|
        =content_tag(:div, msg, class: "alert alert-#{name}")
    =yield
    =render 'front/navigation/footer'
  

= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js"
= javascript_include_tag 'front'
= javascript_include_tag "https://widget.cloudpayments.ru/bundles/cloudpayments"

