!!!

%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}/
    =favicon_link_tag 'favicons/favicon_16.png', rel: 'icon', type: 'image/png'
    =favicon_link_tag 'favicons/favicon_57.png', rel: 'apple-touch-icon', type: 'image/png'

    = stylesheet_link_tag    'front', media: 'all'
    = stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.css", :rel => "stylesheet"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700", :rel => "stylesheet"
    = csrf_meta_tags

    =metamagic site: site_title, title: [:site, :title], separator: " — ", keywords: [:keywords, main_keywords].flatten, description: [:description, main_description].flatten

  %body{class: "#{controller_name} #{action_name} g-body"}
    .g-content
      =render 'front/navigation/header'
      / Rendering errors
      %section
        -flash.each do |name, msg|
          =content_tag(:div, msg, class: "alert alert-#{name}")
      =yield
      =render 'front/navigation/footer'
    

  = javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js"
  = javascript_include_tag 'front'
  = javascript_include_tag "https://widget.cloudpayments.ru/bundles/cloudpayments"

