!!!

%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}/
    %meta{:content => "GMirJw5Ucr1WqypQLnMmId4Y1nXPrHvSvbFG8vjYybo", :name => "google-site-verification" }
    %meta{:content => "11937cfa2e47bb81", :name => "yandex-verification" }
    
    =favicon_link_tag 'favicons/favicon_16.png', rel: 'icon', type: 'image/png'
    =favicon_link_tag 'favicons/favicon_57.png', rel: 'apple-touch-icon', type: 'image/png'

    = stylesheet_link_tag    'front', media: 'all'
    = stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.css", :rel => "stylesheet"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700", :rel => "stylesheet"
    = csrf_meta_tags

    = javascript_include_tag "https://widget.cloudpayments.ru/bundles/cloudpayments"
    = javascript_include_tag "//www.googleadservices.com/pagead/conversion.js"
    = javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=UA-122153150-1"
    = javascript_include_tag 'social/social_scripts'

    =metamagic site: site_title, title: [:site, :title], separator: " — ", keywords: [:keywords, main_keywords].flatten, description: [:description, main_description].flatten

  %body{class: "#{controller_name} #{action_name} g-body"}
    .g-content
      =render 'front/navigation/header'
      =yield
      =render 'front/navigation/footer'
    

  = javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js"
  = javascript_include_tag 'front'


  /VK Pixel Code
  %noscript
    %img{:src=> "https://vk.com/rtrg?p=VK-RTRG-273138-cpiZa", :style => "position:fixed; left:-999px;", :alt => ""}

  /Facebook Pixel Code
  %noscript
    %img{:height => "1", :src => "https://www.facebook.com/tr?id=455068191353750&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/
  /DO NOT MODIFY
  /End Facebook Pixel Code

  / Yandex
  %noscript
    =image_tag "https://mc.yandex.ru/watch/49229887", style: "position: absolute; left:-9999px;", alt: ""

  / Mail.ru rating
  %noscript
    %img{:alt => "", :src => "//top-fwz1.mail.ru/counter?id=2910667;js=na", :style => "border:0;position:absolute;left:-9999px;"}/

  / Google Remarketing
  %noscript
    %div{:style => "display:inline;"}
      %img{:alt => "", :height => "1", :src => "//googleads.g.doubleclick.net/pagead/viewthroughconversion/875449528/?guid=ON&script=0", :style => "border-style:none;", :width => "1"}/
