!!!

%html
%head
  %title Uzhindoma - Front
  = stylesheet_link_tag    'front', media: 'all', 'data-turbolinks-track' => false
  = stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.css", :rel => "stylesheet"
  = stylesheet_link_tag "https://fonts.googleapis.com/css?family=PT+Sans+Caption", :rel => "stylesheet"
  = javascript_include_tag "https://widget.cloudpayments.ru/bundles/cloudpayments"
  = csrf_meta_tags

%body
  .page.text-center
    -if request.fullpath == '/'
      %header.page-head.undefined
        =render 'front/navigation/header'
        =render 'front/navigation/sub_header' 
    -elsif request.fullpath == '/uznat-bolshe'
      %header.page-head
        =render 'front/navigation/header'
        =image_tag "backgrounds/how_it_works_hd.jpg"
        =render 'front/navigation/sub_header' 
    -else
      %header.page-head.ud-default-header-bg
        =render 'front/navigation/header'
        =render 'front/navigation/sub_header' 
    %main.page-content
      -flash.each do |name, msg|
        =content_tag(:div, msg, class: "alert alert-#{name}")
      =yield
    =render 'front/navigation/footer'
  

= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js"
= javascript_include_tag 'front', 'data-turbolinks-track' => false

